@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  background-color:#36302b;
  }

#root{
  display: flex; 
  flex-direction: column;  
  width: fit-content;
  margin: auto;
}

.squareRow{
  display: flex;
}

.square{
  width: 92px;
  height: 92px;
}

.white{
  background-color: #eeeed2;
}

.black{
 background-color: #7e49c7;
}
.highlightYellow{
 background-color: #87d99d;
}
.piece{
 width: 100%;
 cursor: grab;

}

.captureColor{
  background-color: #1376d9
}
.highlight{
  width: 35px;
  height: 35px;
  margin: auto;
  border-radius: 50%;
  background-color: black;
  display: block;
  background-color: rgba(0, 0, 0, 0.17);
  margin-top: 27px;
  cursor: grab;

}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.blur{
  filter: blur(20px);
}

.modal p{
  width: 730px;
  text-align: center;
  font-family: sans-serif;
  font-size: 35px;
  padding: 4px 8px;
  background-color: rgba(18, 6, 6, 0.5);
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 15px;
}

.modal img{
  box-sizing: border-box;
  border: 5px solid transparent;
  width: 24%;
}

.modal img:hover{
  background-color: rgba(0,0,0,0.5);
  border-radius: 100px;
  cursor: pointer;
}
